

/*Telas muito largas*/
@media (min-width: 1101px){

    main{
        align-content: center;
        justify-content: center;
    }

    .transação{width: 400px;}

    .extrato{ width: 600px;}
}


/*Para tablets landscape*/
@media (max-width: 1100px){

    .header-content{justify-content: space-between;}
    main{justify-content: space-between;}
}

/*tablets em retrato*/
@media (max-width: 770px){

    /* ocultando o menu desktop/tablet */
    #menu{display: none;}

    /* mostrando o menu mobile */
    #menu-toggle{display: flex;}

    main{
        flex-direction: column;
        justify-content: space-evenly;
    }

    /*formulário*/
    .transação{
        width: 100%;
        display: grid;
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: repeat(3, 1fr);
    }

    /*título do formulário*/
    .form-tit{
        align-self: center;
        grid-column: span 3;
    }

    /*botão do formulário*/
    .form-submit{
        width: 200px;
        justify-self: flex-end;
        align-self: center;
        grid-column: span 3;
    }

    .extrato{width: 100%;}
}

/* para celulares */
@media (max-width: 402px){

    /* ajustando o tamanho do menu toggle*/
    .menu-list-toggle{width: 300px;}

    /*título do formulário*/
    .form-tit{display: none;}

    .transação{
        border: 0px;
        border-bottom: 2px solid  var(--cor4);
    }

    /*botão do formulário*/
    .form-submit{width: 99%;}

    .transação{ display: flex;}
}
