
 @import url("https://use.typekit.net/blc7cfn.css");

:root{
    --fonte: lato, sans-serif; 
    --cor1: #FFFFFF;
    --cor2: #E5E5E5;
    --cor3: #E0E0E0;
    --cor4: #979797;
    --cor5: #333333;

}

/* Estilos genérico ----------------------------------------------------------*/
*{
    margin: 0px;
    color: var(--cor5);
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 8px;
    grid-template-areas: 
    'cabeçalho cabeçalho'
    'conteúdo conteúdo'
    'rodapé rodapé';
    height: 100vh;
    font-family: var(--fonte);
}

a{text-decoration: none;}

/* Cabeçalho -----------------------------------------------------------------*/
header{

    display: flex;
    justify-content: center;

    /*Dimensões*/
    width: 100%;
    height: 80px;
    padding: 15px;
    background-color: var(--cor3);
    grid-area: cabeçalho;
   
}

.header-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
}

/* Logo e Nome da página */
.logo{
    height: 30px;
    margin-right: 10px;
}

.nomePag{
    font-size: 20px;
    font-weight: bold;
}

/* Menus */

/* menu desktop */
#menu-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    font-size: 2em; 
    color: var(--cor5);
    background-color: var(--cor3);
    border-radius: 4px;
    cursor: pointer;
    display: none; /*oculto por padrão*/
}

#menu{
    background-color:  var(--cor1);
    border-radius: 4px;
}

.menu-list{
    display: flex;
    padding: 0px;
    list-style: none;
}

.list-item{
    font-size: 16px;
    margin: 4px;
    padding: 4px;
}

.menu-list-toggle{
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 200px;
    background-color: var(--cor5);
    color: var(--cor1);
    padding-top: 50px;
    z-index: 1;
}

.list-item-toggle{
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: var(--cor1);
}

.list-item-toggle a{
    display: block; 
    color: var(--cor2);
    padding: 5px;
}

.list-item-toggle a:hover{
    color: var(--cor5); 
    background-color: var(--cor4);
}

#closeBtn{
    position: absolute;
    color: var(--cor4);
    font-size: 1.8em;
    left: 10px;
    top: 0px;
    cursor: pointer;
    display: none;
    z-index: 1;
}

#closeBtn:hover{color: var(--cor1);}

/*Conteúdo principal ---------------------------------------------------------*/
main{
    display: flex;
    grid-area: conteúdo;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

/*título do formulário e dos extratos*/
.transação, .extrato{font-size: 0.8em;}

.form-tit, .extrato-tit{
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

/* Formulário */
.transação{
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 1px solid  var(--cor4);
    padding: 5px;
}

.form-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}

.transação input, .transação select{
    margin-bottom: 5px;
    padding: 5px;
}

.form-submit{
    border: 0px;
    background-color: var(--cor5);
    color: var(--cor1);
    cursor: pointer;
    height: 25px;
    border-radius: 4px;
}

/* Extratos */
.extrato{
    padding: 5px;
    width: 60%
}

.categoria, .mercadoria{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

/*dentro da div .mercadoria*/
.nome{width: 80%}
.valor{width: 20%;}

.categoria{font-weight: bold;}

.categoria-header, .mercadoria{border-bottom: 1px solid var(--cor4);}

/* classe para quando a collapse-box estiver fechada */
.inativo::before{
    font-weight: bold;
    margin-right: 5px;
    content: '+';
}

/* classes para quando a collapse-box estiver aberta */
.ativo::before{ 
    font-weight: bold;
    margin-right: 5px;
    content: '-';
}

/*Rodapé ---------------------------------------------------------------------*/
footer{
    grid-area: rodapé;
    background-color: var(--cor5);
    height: 8px;
}



