
*{
    margin: 0px;
}

/* tags principais -----------------------------------------------------------*/
body{
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas: 'header' 'main' 'footer';
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

header{
    display: flex;
    grid-area: header;
    padding: 10px;
    background-image: linear-gradient(to left, #f54e3b, #0a0ab1);
}

/* tags semânticas -----------------------------------------------------------*/
main{
    grid-area: main;
    padding: 10px;
   
}

.menu{
    display: flex;
    justify-content: center;
}

.menu a{
    padding: 10px;
    margin: 5px;
    background-color: red;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.5s;
}

.menu a:hover{
    background-color: blue;
    transition: background-color 0.5s;
}

/* tabela -------------------------------------------------------*/
table{
    display: flex;
    padding: 10px;
    border-collapse: collapse;
    justify-content: center;
    flex-grow: 2; 
}

/*primeira linha*/
tr:nth-child(1){
    background-color: #f54e3b;
}

/*colunas pares*/
tr:nth-child(2n){
    background-color: rgb(137, 175, 228);
}

/*botão alterar*/
.btnAlterar{
    padding: 5px;
    cursor: pointer;
}


/*colunas*/
th, td{
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}

/*coluna nome*/
tr th:nth-child(1){
    width: 40%;
}

/*coluna ações*/
tr th:nth-child(3){
    width: 20%;
}
/*coluna experiência*/
tr th:nth-child(3){
    width: 20%;
}

/* footer --------------------------------------------------------------------*/
footer{
    grid-area: footer;
    text-align: center;
    align-self: center;
    font-style: italic;
}
